h1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.chessboard-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chessboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px; /* Add space between the chessboard and captured pieces */
}
